@import url(modern-normalize.css); 

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

@font-face {
    font-family: "norse";
    src: url(fonts/Norse-Bold.woff2) format('woff2'),
        url(fonts/Norse-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    display: flex;
}



#rightSide {
    flex: 2;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
}



#topForm,
#midForm,
#botForm {
    display: flex;
    justify-content: space-evenly;
}

#topLeftForm,
#topRightForm,
#midLeftForm,
#midRightForm,
#botLeftForm,
#botRightForm {
    display: flex;
    flex-direction: column;
}

#formBackground {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#leftSide {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

#logo {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6); /* transparent background only */
    padding: 5px;
    gap: 10px;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 10rem;
}

#logoText {
    font-family: norse;
    font-size: 100px;
    font-weight: 900;
    color: #FFFFFF;
}

#logoImg {
    height: 130px;
    width: auto;
}

figure {
    position: relative;
}

figcaption {
    text-align: center;
    position: absolute;
    bottom: 1rem;
    color: #FFFFFF;
    width: 100%;
}

a {
    color: #FFFFFF;
}